@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1>Complete ASP.NET Core and Entity Framework Development</h1>
    <h3>
        Learn ASP.NET Core and Entity Framework by building and publishing a practical Employee Leave Management System.
    </h3>
</div>
<div>
    <h5 class="fw-bold pb-3">Build A Strong Foundation in .NET Core Programming:</h5>
    <ul>
        <li class="pb-3">Build a fully data driven web application using cutting edge technology</li>
        <li class="pb-3">Connect to a Database using <strong>Entity Framework Core</strong></li>
        <li class="pb-3"><strong>Repository Pattern</strong> and <strong>Dependency Injection</strong></li>
        <li class="pb-3">Understand how the <strong>MVC (Models, Views and Controllers)</strong> Pattern works</li>
        <li class="pb-3">Understand C# and .NET Core Web Syntax</li>
        <li class="pb-3">Understand user <strong>Authentication</strong> using <strong>ASP.NET Core Identity</strong></li>
        <li class="pb-3">Understand how to use <strong>Entity Framework Core Data Models, View Models</strong> and <strong>AutoMapper</strong></li>
        <li class="pb-3">Understand <strong>Security</strong> measures to be taken in development</li>
        <li class="pb-3">Use <strong>Bootstrap</strong> to style and manipulate the overall layout</li>
        <li class="pb-3">Manage Packages with <strong>NuGet Manager</strong></li>
        <li class="pb-3">Implement Website Layout using <strong>a Third-Party Admin Theme</strong></li>
    </ul>
</div>